.tile:hover {
	cursor: pointer;
}

body {
	background-color: #3d7b42;
	color: #ffffff;
}

a {
	color: #ffcc01;
}

a:hover {
	color: #ffff00;
}

a:visited {
	color: #a39d18;
}

.tile {
	background: none;
	left: 0px;
	top: 0px;
}

.rot90 {
	transform: translate(0,100%) rotate(-90deg);
	transform-origin: 0 0;
	position: relative;
}

.sortable {
	margin: 0;
	padding: 0; 
	list-style-type: none;
	list-style-image: none;
	white-space: nowrap;
}

.noborder {
	margin: 0;
	padding: 0;
	border: 0;
}

.item {
	position: relative;
	text-decoration:none;
	display: inline-block;
	list-style-type: none;
	list-style-image: none
}

.placeholder {
	display: inline-block;
	padding: 0;
}

.hint {
	background: white;
	position: absolute;
	z-index: 10;
	color: black;
	top: 7px;
	right: 10px;
	font-weight: bold;
}

button {
	font-size: 30px;
	font-weight: bold;
}

input {
	font-size: 30px;
	font-weight: bold;
}

#result {
	font-size: 30px;
	font-weight: bold;
}

#question {
	font-size: 30px;
	font-weight: bold;
}

.container {
	width: 100%;
	text-align: center;
}

.separator {
	width: 10px;
}

.placeholder, .tile {
	width: 50px;
	height: 67px;
}
